@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  text-decoration: none;
  list-style: none;
}

.logo{
  background-color: #fff;
  width:80%;
  height: 252px;
}
.logo img{
  height: 252px;
  width: 450px;
}
header{
  width: 100%;
  height: 100vh;
  background-image: url("manicure.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;

}
nav{
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.bar-btn{
  font-weight: 900;
  margin-right: 0px;
  cursor: pointer;
}
.fa-bars{
  font-size: 70px;
  color: #000;
}
.nav-menu{
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 0vh;
  top: 248px;
  background-color:rgb(255,255,255);
  text-align: center;
  transition: all .5s;
}

.nav-menu li{  
  display:none;
  line-height: 30px;
  font-size: 60px;
  margin: 100px 0;
  padding: 60px 0;
  text-transform: uppercase;
}
.nav-menu li a{
  color: #000;
  font-size: 4rem;
  font-weight: 500;
}

.nav-menu li a.active, .nav-menu li a:hover{
  color: rgb(248,8,8);
  transition: .3s;
}

#check{
  display: none;
}
#check:checked ~ .nav-menu{
  height: 100vh;
}

#check:checked ~ .nav-menu li{
  display: block; 
}
#check:checked ~ #hero{
  opacity: 0;
}

#check:checked ~ .nav-menu li a, .nav-menu{
  height: 0vh;
}
i{
  font-size: 50px;
}
#hero h1{
    position: absolute;
    top: 90vh;
    bottom: 50px;
    left: 50px;

    z-index: 1;

    font-weight: bold;
    font-size: 9vw;

    white-space: pre;
    color: rgb(0, 0, 0);
    width: 500px;
    animation:typing 2s /*steps(12)*/,
    blink .5s infinite step-end alternate;
    overflow:hidden;
    opacity: 1;
}


@keyframes typing {
  from{ width: 0; }    
}
@keyframes blink {
  50% { border-color:transparent ;}
}
@keyframes texto-info {
  from{
      margin-left: 100%;
      width: 100%;
      opacity: 0;
  }
  to{
      margin-left: 0%;
      width: 100%;
      opacity: 1;
  }
}
/*fin animacion*/
#about_me .container{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align: center;
  padding: 200px 12px;
  margin: 0 auto;
  color: black;
  font-size: 25px;
  font-weight: 400;
  width:100%;
  height:100vh;
}
#about_me .texto{
  font-weight: bolder;
  font-size:80px;
  text-align: center;
  margin: 40px 0;
}

/*-----------CONTENEDOR DE TARJETAS-----------------*/



#tit-ser{
  display:block;
  margin: 20px auto;
  text-align: center;
  font-size:60px;/**/
}
.container-cards{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 700px;/**/
  row-gap:40px;/**/
}

.container-cards .card{
  border: 1px solid rgb(26, 25, 25);
  background: #fff;
}
.card img{
  width: 100%;
  height: 600px;/**/
}
.card h2{
  text-align: center;
  line-height: 50px;
  font-weight: 500;/**/
}
.card{
  transition: all 400ms ease;
}
.card:hover{
  transform: translateY(-3%);
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}
/*FIN TARJETAS*/

/*INICIO FOOTER*/
.container_footer{
  width: 100%;
  height: 300px;
}
.footer{
  background-color: rgba(0, 5, 8, 0.918);
  padding: 70px 0;
  margin-top: 40px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.container_footer ul{
  list-style: none;

}
.footer-col{
  width: 50%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 4rem;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91363;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 3rem;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #fff;  
  padding-left:10px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  /*background-color: rgba(255, 255, 255, 0.2);*/
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  /*border-radius: 50%;*/
  color: #fff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background: #ffffff;
}

.social-links .fa-whatsapp{
  color:#25D366;
}
.social-links .fa-facebook-f{
  color:#4267B2;
}
.social-links .fa-instagram-square{
 color:#fff;
}
/*FIN FOOTER*/





